@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
* { font-family: 'Inconsolata'; margin: 0px; padding: 0px;  }

.content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: middle;
}

header {
    background: #333;
    border-bottom: 2px solid #222;
}

header h1 {
    padding: 1em 1em;
    color: #222;
    background: #333;
    text-shadow: 0px .05em 0px #555;
    width: 14em;
}

.icons {
    width: 200px;
    height: 100%;
    float: right;
}

.item {
    order: 1;
    margin: 5px;
    width: 200px;
    height: 200px;
    background: url("http://placehold.it/200x200");
}

.inner-container div {
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
}

.item .inner-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: #333;
    opacity: 0;
}

.titan {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background: url("../imgs/bg.png");
    padding: 75px 75px;

    align-items: center;

    border-bottom: 2px solid #aaa;
}

nav {
    /*width: 80%;*/
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
    .item .inner-container { opacity: .8; background rgb(0,0,0.4); }
    .item { margin: .5em auto; }
}